h1{
    margin-left: 650px;
    margin-top: 0;
}
.list1{
    margin-left: 1250px;
    margin-top: -52px;
}
.l1,.l2,.l3,.l4{
    color: aqua;
}
p{
    border-bottom: 0.5px solid green;

}

  